# Discord Webhook for Recruitment Applications
# Get this from Discord Server Settings > Integrations > Webhooks
DISCORD_RECRUITMENT_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_WEBHOOK_URL_HERE
